.header {
  margin: 5% auto;
  position: fixed;
  width: 20%; 
  text-align: center;
}

@media (min-width: 800px) {
  body {
    background-image: url(./img/pink-rad.jpeg);
    background-repeat: no-repeat;
    height: 1000px;
    width: cal(90%);
    background-position: center;
    background-size: cover;
    position: relative;
  }
} 

article {
  position: fixed;
  text-align: center;
  width: 20%;
  margin: 10% auto;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 10px;
}

#current-temp {
  font-size: 50px;
}

#temp-up {
  height: 35px;
  width: 35px;
  background-color: #555;
  border-radius: 50%;
  background-color: rgb(255, 178, 174);
  border-color: rgb(240, 92, 84);
}

#temp-down {
  height: 35px;
  width: 35px;
  background-color: #555;
  border-radius: 50%;
  background-color: rgb(112, 205, 252);
  border-color: rgb(27, 171, 243);
}

#powersaving-on,
#powersaving-off {
  height: 30px;
  width: 70px;
  background-color: whitesmoke;
  border-radius: 15%;
}

#reset {
  height: 30px;
  width: 50px;
  background-color: whitesmoke;
  border-radius: 15%;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}